@function p2r($px){
    @return ($px/32)*1rem
  };
  @mixin size($width, $height) {
    width: p2r($width);
    height: p2r($height);
  }
  html,body{
      height: 100%;
      width:100%;
  }
body{
    background-color: #FAFAF9;
    color:#000;
    font-size: p2r(24);
    //头部公共样式
    .mint-header{
        background-color: #fff;
        color:#272727;
        height: p2r(80);
        .mintui-back{
            height: 100%;
            &:before{
                font-size: p2r(50);
            }
        }
        .mint-header-title{
            font-size: p2r(32);
            font-weight: normal;
            height: 100%;
            line-height:p2r(80);
        }
    }
}